.header {
  min-height: 100vh;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57),
    rgb(63, 76, 119)
  );
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 20px; 
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 100%; 
}

.header-image {
  width: 100%;
  max-width: 400px; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 1s ease-in-out;
}

.header-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: center;
}

.header-right h2 {
  font-size: 4.5rem;
  font-weight: 300;
  opacity: 0.9;
  transition: opacity 0.5s ease;
  word-wrap: break-word;
}

.heading-container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .header-right h2 {
    font-size: 3rem;
  }
  .header-right .heading-container {
    height: 4rem; 
  }

  .header-image {
    max-width: 500px;
    height: 500px;
  }
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }

  .header-left {
    margin-bottom: 20px;
  }

  .header-right h2 {
    font-size: 3.5rem;
  }

  .header-image {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .header-right h2 {
    font-size: 3.5rem;
  }

  .header-image {
    margin-top: 80px;
    max-width: 280px;
    height: 300px;
  }
}
